/* Fazer o hover dos perfis */

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(black, rgb(23, 1, 49));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 450px;
    /* border: 2px solid white; */
    min-height: 500px;
    padding-bottom: 30px;
    /* justify-content: space-between; */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Tela de quem está assistindo */
.hboMax {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hbomax-image {
    width: 52px;
    height: 44px;
    margin-right: -2px;
}
.hbomax-text {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.8rem;
    font-weight: 200;
    letter-spacing: -3px;
}
.hbomax-text::first-letter {
    font-family: 'Baloo 2', cursive;
    font-size: 2.6rem;
}
.QEA {
    margin-top: 10px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3rem;
}
.usuarios-container {
    margin-top: 70px;
    width: 700px;
    height: 230px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    position: relative;
    height: 150px;
    width: 100px;
}
.carregarFoto{
    height: 70px;
    width: 100%;

    background-color: rgba(101, 98, 98, 0.35);
    color: rgba(186, 182, 182, 0.8);
    font-weight: 400;
    display: flex;
    align-items: center;
}
#camera{
width: 30px;    
height: 30px;
position: absolute;
left: 15px;
}
.carregarFoto small{
    font-size: 0.9rem;
    position: relative;
    left: 60px;
}
.inputNomeFoto{
    margin-top: 20px;
    height: 300px;
    width: 100%;

    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.circles{
    height: 40%;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle{
    height: 45px;
    width:45px;
    background-color: red;
    border-radius: 50%;
}
.circle1{
    background-image: linear-gradient(to right, rgb(233, 146, 160), rgb(146, 6, 146));
}
.circle2 {
    background-image: linear-gradient(to right, rgb(219, 98, 163), rgb(82, 8, 151));
}
.circle3 {
    background-image: linear-gradient(to right, rgb(231, 188, 195), rgb(97, 6, 146));
}
.circle4 {
    background-image: linear-gradient(to right, rgb(162, 72, 192), rgb(34, 6, 146));
}
.circle5 {
    background-color: rgb(11, 155, 155);
}
#changeTitle{
    width: 100%;
    height: 55px;
    border:1px solid white;
    border-radius: 5px;
    background-color: rgb(14, 10, 34);
    color: white;
    font-size: 1rem;
    padding-left: 10px;
}
.ub {
    padding: 5px;
    border-radius: 50%;
}
.usuario-border-azul {
    background-image: linear-gradient(to right, rgb(162, 235, 253), rgb(5, 191, 220));
}
.u1 {
    background-color: rgb(0, 53, 68);
}
.u2 {
    background-color: rgb(17, 1, 34);
}
.u3 {
    background-color: rgb(62, 17, 104);
}
.usuario-border-roxo1 {
    background-image: linear-gradient(to right, rgb(228, 191, 250), rgb(76, 0, 134));
}
.usuario-border-roxo2 {
    background-image: linear-gradient(to right, rgb(179, 76, 220), rgb(120, 1, 184));
}
.uf {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.uf img{
    height: 80%;
}
.uf h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    z-index: 0;
}
footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
    width:100%;
    /* border: 2px solid yellow; */
}

.adicionar-container {
    color: white;
    display: flex;
    width: 318px;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.adicionar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    box-sizing: border-box;
    align-items: center;
}

.adiciona {
    border-radius: 4px;
    height: 25px;
    width: 120px;
    padding: 12px 17px;
    background-color: rgba(98, 89, 89, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}

.adiciona:hover {
    background-color: black;
    border: 2px solid rgb(130, 79, 169);
}

.adiciona h5 {
    font-size: 0.8rem;
}

.gerenciar-button {
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 18px;
    /* height: 30px;
    /* width: 145px; */ 
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    width: 100%;
}

.gerenciar-button h6 {
    font-weight: 900;
}

.gerenciar-button:hover {
    background-color: rgba(153, 148, 148, 0.51);
}

#gerenciarTextTwo {
    display: none;
}

.perfilMaior {
    animation-name: perfilM;
    animation-duration: 0.4s;
    height: 130px;
    width: 130px;
}

@keyframes perfilM {
    0% {
        height: 115px;
        width: 115px;
    }

    100% {
        height: 130px;
        width: 130px;
    }
}

.perfilMenor {
    animation-name: perfilm;
    animation-duration: 0.4s;
    height: 115px;
    width: 115px;
}

@keyframes perfilm {
    0% {
        height: 130px;
        width: 130px;
    }

    100% {
        height: 115px;
        width: 115px;
    }
}

.fontMaior {
    animation-name: fontM;
    animation-duration: 0.4s;
}

@keyframes fontM {
    0% {
        font-size: 1rem;
    }

    100% {
        font-size: 1.2rem;
    }
}

.fontMenor {
    animation-name: fontm;
    animation-duration: 0.4s;
}

@keyframes fontm {
    0% {
        font-size: 1.2rem;
    }

    100% {
        font-size: 1rem
    }
}

.ga {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    display: none;
}

.penAndPaperImg {
    width: 20px;
    height: 20px;
    background-image: url(../assets/penAndPaper.png);
    background-position: center;
    background-size: contain;
}

/* ============================ */
@media (max-width:1000px) {
    .QEA {
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 1.6rem;
    }

    .usuario p {
        font-size: 0.9rem;
        margin-top: 12px
    }
}

@media (max-width: 700px) {
    .usuarios-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .usuarios-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}